/* video banner */

main {
    position: relative;
    width: 100%;
}

.video-banner {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    
}

.video {
    position: absolute;
    z-index: -10;
    top: 8%;
    left: -50%;
    min-width: 100%;

}

.video-banner h1 {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    margin: 60px 0;
    color: #fff;
    font-family: "source serif pro", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-left: 50px;
}

.video-banner h2 {
    position: absolute;
    bottom: 8%;
    z-index: 1;
    line-height: 40px;
    color: #fff;
    font-family: "roman";
    font-weight: 900;
    font-size: 1.2rem;
    margin-left: 50px;
    margin-bottom: 50px;
}

/* Trusted section */

.trusted-section {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.trusted-section h2 {
    font-family: "source serif pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}

.firmaer {
    width: 30%;
    justify-content: space-around;
    display: flex;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: 4px solid red;
    border-radius: 100%;
    background-color: #8b0808;
}

.circle > img {
    width: 60px;
    height: auto;
}

/* Featured products */

.featured-products-container {
    width: 100%;
    min-height: 70vh;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-products-container h2 {
    font-family: "source serif pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.featured-products-container p {
    font-family: "source serif pro";
}

.featured-products-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (min-width: 900px) {
    .video-banner {
        text-align: left;
    }
}
@media only screen and (min-width: 700px) {
    .video {
        left: 0%;

    }
}


