.footer {
    background-color: #222222;
    display: flex;
    width: 100vw;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.logo-box {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.mobil-flexbox {
    width: 50vw;
}

.logo {
    width: 100px;
}

.ul-flexbox, .ul-flexbox-interfood {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: auto;
}

.ul-flexbox-active {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.footer-li {
    color: #fff;
    font-size: 12px;
}

.ul, .ul-interfood, .ul-konto, .ul-links {
    display: flex;
    opacity: 0;
    height: 0;    
}

.ul-active, .ul-interfood-active, .ul-konto-active, .ul-links-active {
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

h3 {
    display: block;
    opacity: 1;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.top-line {
    height: 2px;
    width: 90%;
    margin: 0 auto;
    background-color: red;
}