/* Contact css */
/* Ikke alt stylingen der virker pt, dunno why */

@font-face {
  font-family: "Thin";
  src: local("NeueHaasDisplayThin"),
    url("./assets/fonts/NeueHaasDisplayThin.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("NeueHaasDisplayLight"),
    url("./assets/fonts/NeueHaasDisplayLight.ttf") format("truetype");
}

@font-face {
  font-family: "Roman";
  src: local("NeueHaasDisplayRoman"),
    url("./assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("NeueHaasDisplayMediu"),
    url("./assets/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("NeueHaasDisplayBold"),
    url("./assets/fonts/NeueHaasDisplayBold.ttf") format("truetype");
}

@font-face {
  font-family: "Bold Italic";
  src: local("NeueHaasDisplayBoldItalic"),
    url("./assets/fonts/NeueHaasDisplayBoldItalic.ttf") format("truetype");
}

/* Kontakt form */
.contact {
  background: gray;
  padding: 60px 0 50px 0;
}

p.success {
  color: white !important;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: red;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

.btn-2 {
  border: none;
  background-color: transparent;
}

.contactcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Kontakt bokse */
.kontaktkort-container{
    height: 100vh;
    width: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.kontaktkort{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    background-color: #bc4040;
}

.kontaktkort h2 {
    padding-bottom: 20px;
}

.kontakttitle{
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
}

.kontaktcards{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media only screen and (min-width: 900px) {
    .kontaktkort {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Map sektion */
.tekst-container{
    margin: 0 0 0 150px;
}

.maph2{
    font-size: 42px;
}

.mapouter {
    display: flex;
    justify-content: center;
}

iframe{
    width: 1600px;
}

.kkort3{
    display:flex;
    flex-direction: block;
}