/* Generel container færdigheder */
.blogcard__container {
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 1.8rem;
}

.image-container {
    background-color: red;
}

/* manipulation af hvert enkelte kort */
.blogcard__content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    padding: 8rem 0 2rem 2.5rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.20);
}

/* Overskrifter */
.blogcard__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

/* Knap til "læs mere" */
.blogcard__button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

/* Media query's */
/* Store devices */
@media screen and (max-width: 992px) {
    .blogcard__container {
        grid-template-columns: repeat(3, 218px);
    }
}

/* Medium devices */
@media screen and (max-width: 768px) {
    .blogcard__container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Små devices */
@media screen and (max-width: 350px) {
    .services__container {
        grid-template-columns: max-content;
    }

    .services__content {
        padding-right: 6rem;
    }
}